<%- include('partials/header.ejs') -%>
<h1>Hello</h1>

<p>
  <%= text %>
</p>

<% posts.forEach(function(post) { %>
<%   console.log(post.title + " : " + post.body); %>
<% }) %>

<%- include('partials/footer.ejs') -%>
